<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<virtualType name="AllextensionideaGridDataProvider" type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">Mageleven\Extensionidea\Model\ResourceModel\Allextensionidea\Collection</argument>
        </arguments>
    </virtualType>
	<type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="extensionidea_allextensionidea_listing_data_source" xsi:type="string">Mageleven\Extensionidea\Model\ResourceModel\Allextensionidea\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <type name="Mageleven\Extensionidea\Model\ResourceModel\Allextensionidea\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">mageleven_extensionidea</argument>
            <argument name="eventPrefix" xsi:type="string">mageleven_extensionidea_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">mageleven_extensionidea_collection</argument>
            <argument name="resourceModel" xsi:type="string">Mageleven\Extensionidea\Model\ResourceModel\Allextensionidea</argument>
        </arguments>
    </type>
</config>