<?xml version="1.0"?>
<!--
/**
 * Copyright © Mageleven (support@mageleven.com). All rights reserved.
 * Please visit Mageleven.com for license details (https://mageleven.com/end-user-license-agreement).
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="controller_action_predispatch">
        <observer name="mageleven_community_controller_action_predispatch" instance="Mageleven\Community\Observer\PredispathAdminActionControllerObserver" />
    </event>
    <event name="controller_action_predispatch_adminhtml_system_config_save">
        <observer name="mageleven_community_controller_action_predispatch_adminhtml_system_config_save" instance="Mageleven\Community\Observer\ConfigObserver"/>
    </event>
</config>