<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
	<menu>
	  <add id="Mageleven_Extensionidea::extensionidea_allextensionidea" title="All Extension Idea" translate="title" module="Mageleven_Extensionidea" parent="Mageleven_Contributors::contributors" sortOrder="10" dependsOnModule="Mageleven_Extensionidea" action="extensionidea/allextensionidea" resource="Mageleven_Extensionidea::extensionidea_allextensionidea"/>
	</menu>
</config>