<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="mageleven" translate="label" sortOrder="1">
            <label>Mageleven</label>
        </tab>
        <section id="mageleven_slickcarousel" translate="label" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Slick Carousel</label>
            <tab>mageleven</tab>
            <resource>Mageleven_SlickCarousel::config_system</resource>
            <group id="general" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="enabled" translate="label comment" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Enabled</label>
                    <comment>Enables or disables extension.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>