<?xml version="1.0" ?>
<!--
/**
 * Copyright © Mageleven (support@mageleven.com). All rights reserved.
 * Please visit Mageleven.com for license details (https://mageleven.com/end-user-license-agreement).
 *
 * Glory to Ukraine! Glory to the heroes!
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
	<module name="Mageleven_LazyLoad" setup_version="2.0.17">
		<sequence>
			<module name="Mageleven_Community"/>
		</sequence>
	</module>
</config>
